body {
  background-color: antiquewhite;
}

#heading {
  color: blueviolet;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 7.063rem; /* 113px */
  height: 7.063rem; /* 113px */

  box-shadow: 5px 5px 2px 1px gray;
}

.nav-items {
  padding: 0rem 1.25rem; /* 0px 20px */
}
.nav-items > ul {
  display: flex;
  font-size: 1.5rem; /* 24px */
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 0.625rem; /* 10px */
  padding: 0.625rem; /* 10px */
}

.search {
  padding: 0.625rem; /* 10px */
}

.res-logo {
  border-radius: 15px;
}
.res-card {
  width: 12.5rem; /* 200px */
  padding: 5px;
  margin: 5px;
  border-radius: 25px;

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow  */
  /*
  Specify a single box-shadow using:

Two, three, or four <length> values.
If only two values are given, they are interpreted as <offset-x> and <offset-y> values.
If a third value is given, it is interpreted as a <blur-radius>.
If a fourth value is given, it is interpreted as a <spread-radius>.
Optionally, the inset keyword.
Optionally, a <color> value.
To specify multiple shadows, provide a comma-separated list of shadows.
*/
  /* box-shadow: 5px 5px 2px 1px gray; */
  box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, 0.2);
}

.res-card:hover {
  cursor: pointer;
  border: 2px solid gray;

  width: 13.5rem;

  box-shadow: 5px 5px 2px 1px gray;
}

.res-logo {
  width: 100%;
}

.res-logo:hover {
  transform: rotate(-5deg);
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;

  /* border: 5px red solid; */
  margin: 0 50px;
  padding: 0 40px;
}

.filter-btn {
  margin: 10px;
  /* padding: 10px; */
  cursor: pointer;
}

/* FOR SHIMMER UI EFFECT */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;

  margin: 0 50px;
  padding: 0 40px;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  margin: 10px;
  background-color: #f0f0f0;
}

.imgOfCard {
  width: 170px;
  height: 130px;
  margin: 15px;
  background-color: #a1949431;
  border: 1px solid white;
  border-radius: 15px;
}

.descOfCard {
  width: 170px;
  height: 10px;
  margin: 15px;
  background-color: #a1949431;
  border: 1px solid white;
}
/* FOR SHIMMER UI EFFECT */

.login {
  padding: 0 20px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.star {
  background-color: rgb(22, 107, 41);
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.clickMe {
  /* display: flex;
  align-items: center;
  flex-direction: column; */

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
