body {
  background-color: antiquewhite;
}

#heading {
  color: blueviolet;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 7.063rem; /* 113px */
  height: 7.063rem; /* 113px */
}

.nav-items {
  padding: 0rem 1.25rem; /* 0px 20px */
}
.nav-items > ul {
  display: flex;
  font-size: 1.5rem; /* 24px */
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 0.625rem; /* 10px */
  padding: 0.625rem; /* 10px */
}

.search {
  padding: 0.625rem; /* 10px */
}

.res-logo {
  border-radius: 15px;
}
.res-card {
  width: 12.5rem; /* 200px */
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.res-logo {
  width: 100%;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
