body {
  background-color: antiquewhite;
}

#heading {
  color: blueviolet;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 7.063rem; /* 113px */
  height: 7.063rem; /* 113px */
}

.nav-items {
  padding: 0rem 1.25rem; /* 0px 20px */
}
.nav-items > ul {
  display: flex;
  font-size: 1.5rem; /* 24px */
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 0.625rem; /* 10px */
  padding: 0.625rem; /* 10px */
}

.search {
  padding: 0.625rem; /* 10px */
}

.res-logo {
  border-radius: 15px;
}
.res-card {
  width: 12.5rem; /* 200px */
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
}

.res-logo:hover {
  transform: rotate(-5deg);
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.filter-btn {
  margin: 10px;
  /* padding: 10px; */
  cursor: pointer;
}

/* FOR SHIMMER UI EFFECT */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  margin: 20px;
  background-color: #f0f0f0;
}

.imgOfCard {
  width: 170px;
  height: 130px;
  margin: 15px;
  background-color: #a1949431;
  border: 1px solid white;
  border-radius: 15px;
}

.descOfCard {
  width: 170px;
  height: 10px;
  margin: 15px;
  background-color: #a1949431;
  border: 1px solid white;
}
/* FOR SHIMMER UI EFFECT */

.login {
  padding: 0 20px;
  cursor: pointer;
}

.filter {
  display: flex;
}
